
@media only screen and (max-width: 576px) {
   
    h1 {
        font-size: 3.2em;
    }
    ol {
        font-size: 11px;        
    }
    .img_imagine_dragons {
        width: 120px;
    }
      
    .img_twenty_one_pilots {
        width: 120px;
    }
      
    .img_green_day {
        width: 120px;
    }
    .list-group {
        padding-left: 1px;
    }
    
    p {
        font-size: 13px;
    }

    .icons {
        width: 40px;
    }

    .eerste_album {
        margin-top: 60px;
      }

    .box_spotify {
        width: 250px;
    }
}

@media only screen and (min-width: 768px) {

}

@media only screen and (min-width: 992px) {
    .img_imagine_dragons {
        width: 250px;
    }
      
    .img_twenty_one_pilots {
        width: 250px;
    }
      
    .img_green_day {
        width: 250px;
    }

    p {
        font-size: 1em;
    }

    ol {
        font-size: 1em;
    }

    h1 {
        font-size: 4em;
    }

}

@media only screen and (min-width: 1200px) {

}