
@import url('https://fonts.googleapis.com/css?family=Modak');
@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Concert+One');

body {
  background-image: url(Images/achtergrond_Mytunes.png);
  background-size: contain;
}

h1 {
  text-align: center;
  padding: 60px;
  font-family: modak, sans-serif;
  background-color: black;
  color: white;
}

p {
  font-family: raleway, sans-serif;
}

ol {
  font-family: concert one, sans-serif;
  font-size: 17px;
  list-style: none;
}

li {
  counter-increment: item;
  margin-bottom: 5px;
  padding-bottom: 10px;
  padding: 5px 0;
}

li:before {
  margin-right: 10px;
  content: counter(item);
  background: #FF414D;
  border-radius: 100%;
  color: white;
  width: 1.7em;
  height: 1.7em;
  text-align: center;
  display: inline-block;
}

li.clearfix:before {
  display: inline;
}

.list-group {
  padding-left: 10px;
}

.img_imagine_dragons {
  width: 150px;
}

.img_twenty_one_pilots {
  width: 150px;
}

.img_green_day {
  width: 150px;
}

.albuminfo {
  text-align: right;
  font-size: 1.15em;
}

.albuminfo_style {
  font-family: concert one, sans-serif;
}

.bio_artiesten {
  padding: 40px 20px;
  text-align: center
}

.eerste_album {
  margin-top: 100px;
}

.btn {
  color: white;
  background-color: rgb(179, 179, 179);
  border: none;
  font-family: raleway;
  margin-bottom: 30px;
  padding: 10px;
}

.btn:hover {
  background-color: #FF414D;
  color: white;
}

.icons {
  width: 70px;
  margin: 10px;
  margin-bottom: 60px;
}

footer {
  background-color: black;
}
